.HeaderCont {
    height: 150px;
  }
  .Layout {
    display: flex;
    background: #ededed;
    min-height: 700px;
    /* overflow: hidden; */
  }
  .SidebarCont {
    flex: 3;
    /* margin-right: 18px; */
  }
  
  .PageContent {
    flex: 9;
    padding: 0px 0px;
    left: 15%;
    min-height: 100vh;
    overflow-y: auto;
  }
  
  .PageEmptyPlaceholder {
    text-align: center;
    position: relative;
    top: 100px;
    font-size: 80px;
    color: #ccc;
    font-weight: bold;
  }
  
  .Body {
    padding: 30px 20px;
  }
  @media screen and (max-width: 420px){
    .Body {
      padding: 30px 20px;
    }
  }