.SubTitles{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.SubTitles h4{
    color: #CECEDC;
    font-weight: 600;
    /* font-size: 20px; */

}
.SubTitles .Line{
    width: 50%;
    height: 3px;
    background-color: 5px solid #000;
} 
.ArrowLeft,
.ArrowRight{
   color: #CECEDC;
}
@media screen and (max-width: 420px){
    .SubTitles{
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
        
    }
    .SubTitles h4{
        font-size: 14px;
    
    }
    .ArrowLeft,
    .ArrowRight{
   color: #574fd8;
}
}