.SubTitles{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.SubTitles h4{
    color: #CECEDC;
    font-weight: 600;

}
.Line{
    width: 50%;
    background-color: 5px solid #CECEDC;
} 
.ArrowLeft,
.ArrowRight{
   color: #CECEDC;
}
@media screen and (max-width: 420px){
    .SubTitles{
        max-width: 100%;
        display: flex;
    justify-content: center;
    align-items: center;
        
    }
    .SubTitles h4{
        font-size: 12px;
    
    }
    .ArrowLeft,
    .ArrowRight{
   color: #574fd8;
}
}