.SubTitles{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.SubTitles h4{
    color: #CECEDC;
    font-weight: 600;

}
.SubTitles .Line{
    width: 500px;
    border-color: 5px solid #000;
}
.ArrowLeft,
.ArrowRight{
   color: #CECEDC;
}
.CardDisplay{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    overflow: auto;
    white-space: nowrap;
    width: 100%;
    height: auto;
    row-gap: 30px;

}
.Card {
    transition: 0.3s;
    width: 150px;
  }
  .Card img{
      width: 100%;
  }
  .Text{
    color:#39383D;
    text-align: center;
    padding: 2px 16px;

  }
  h6{
      margin: auto;
      text-align: center;
  }
  @media screen and (max-width: 420px){
    .SubTitles{
      max-width: 100%;
      display: flex;
    justify-content: center;
    align-items: center;
      
  }
  .SubTitles h4{
      font-size: 12px;
  
  }
  .ArrowLeft,
  .ArrowRight{
  color: #574fd8;
  }
    .CardContainer{
      flex-wrap: wrap;
    
    }
    
}