
.cardContainer{
  text-decoration: none;
  width: 150px;
}
.HorizontalScroll{
  width: 600px;
  height: 80px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.HorizontalScroll .BtnScroll{
  background-color: #fff;
  color: #999;
  padding: 5px 8px;
  box-shadow: 0 0 10px #999;
  border: 0;
  border-radius: 50%;
  margin: 0 5px;
  z-index: 1;
  cursor: pointer;
}



.CardDisplay{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: auto;
    white-space: nowrap;
	  overflow-x: hidden; 
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    column-gap: 30px;
    left: 0;
    transition: 0.5s all ease out;
}
.Card {
    transition: 0.3s;
    width: 150px;
    text-decoration: none;
    padding: 8px 16px;
  }
  .Card img{
      width: 100%;
  }
  
  .Text {
    color:#39383D;
    text-decoration: none;
    
  }
  .Text h6 b{
    text-decoration: none;
    font-size: 12px;
    
  }
  @media screen and (max-width: 750px){
    
  }
  @media screen and (max-width: 420px){
    .CardDisplay{
      flex-wrap: wrap;
    
    }
    
}