.SearchContainer{ 
 margin: auto;
 padding: 2% 2%;
}
.SearchInput{
    display: flex;
    justify-content:center;
    align-items: center;
    margin: auto;
    width: 300px;
    padding: 5px 20px;

   }
   .SearchInputContainer{
    background: #574FD8;
    width: 400px;
    display: flex;
    align-items: center;
    padding: 5px 20px;
    border-radius: 5px;
    border-collapse: collapse;

   }
   .SearchInputContainer a{
    width: 50px;
    padding: 4px 30px;
    font-size: 16px;
    border: none;
    color:#cecedc;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    text-decoration: none;
}
  
.SearchInput::placeholder{

    color:#fff;
}

.SearchInput:focus{
    outline: none;
}
  .CardDisplay{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    overflow: auto;
    white-space: nowrap;
    width: 100%;
    height: auto;
    row-gap: 30px;

}
.Card {
    transition: 0.3s;
    width: 150px;
  }
  .Card img{
      width: 100%;
  }
  .Text{
    color:#39383D;
    text-align: center;
    padding: 2px 16px;

  }
  h6{
      margin: auto;
      text-align: center;
      font-size: 14px;
  }
  @media screen and (max-width: 420px){
    .CardContainer{
      flex-wrap: wrap;
    
    }
    
}
  